*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: white;
}

ul li{
    flex: 1;
    text-align: center;
}

.active{
    color: red;
    border-bottom: 1px solid gray;
}

dl{
    height: 60px;
}

dl dt{
    font-size: 20px;
}

dl dd{
    font-size: 12px;
    color: gray;
}